.label {
    -fx-text-fill: white;
}

/* ComboBox Default Styling */
#customComboBox,
#customComboBox:focused,
#customComboBox .list-view,
#customComboBox .list-cell {
    -fx-background-color: #FBFAF5;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: black;
    -fx-pref-width: 150;
}

#customComboBox:focused {
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
}

#customComboBox .arrow-button {
    -fx-background-color: white;
}

#customComboBox .virtual-flow .scroll-bar .increment-button,
#customComboBox .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 1;
}

#customComboBox .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #3282b8;
}

#customComboBox .scroll-bar:vertical {
    -fx-padding: 1;
    -fx-background-color: transparent;
}
#customComboBox .scroll-bar:horizontal {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
/* End of ComboBox Default Styling */


/* TextField Default Styling */
#customTextField,
#customTextField:focused {
    -fx-background-insets: 0;
    -fx-background-color: #FBFAF5;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

#customTextField:focused {
    -fx-focus-color: transparent;
}


/* Disabled/Non-Editable TextField */
#customTextField:disabled,
#customTextFieldNonEditable {
    -fx-background-insets: 0;
    -fx-background-color: #d2cece;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

/* End of TextField Default Styling */

/* Button Default Styling (Using MaterialFX Button)*/

#customButton {
    -fx-cursor: hand;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 5 15 5 15;
    -fx-pref-width: 100;
    -fx-pref-height: 25;
}

#customAddButton {
    -fx-cursor: hand;
    -fx-background-color: #6E8FD9;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 5 15 5 15;
    -fx-pref-width: 100;
    -fx-pref-height: 25;
}

#customModifyButton {
    -fx-cursor: hand;
    -fx-background-color: #6ED9AF;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 5 15 5 15;
    -fx-pref-width: 100;
    -fx-pref-height: 25;
}

#customDeleteButton, #customCancelButton {
    -fx-cursor: hand;
    -fx-background-color: #D97B6E;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 5 15 5 15;
    -fx-pref-width: 100;
    -fx-pref-height: 25;
}

/* End of Button Default Styling */

/* TableView Default Styling */
/* Styles for TableView */

#inventoryTable,
#customerTable,
#spliceRecordsTable,
#fibersRecordsTable,
#employeeTable {
    -fx-control-inner-background: #2a3338;
    -fx-text-fill: #e5e4e2;
}

.table-view {
    -fx-background-color: #2a3338;
}

.table-view .column-header {
    -fx-text-fill: #e5e4e2;
    -fx-background-color: #2a3338;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #808080;
    -fx-table-cell-border-color:transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view .column-header-background .filler {
    -fx-background-color: #2a3338;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 1;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: #3282b8;
}

.table-view .virtual-flow .scroll-bar:vertical {
    -fx-background-color: #2a3338;
}


.table-row-cell {
    -fx-background-color: #2a3338;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #808080;
    -fx-table-cell-border-color:transparent;
}

.table-row-cell:odd {
    -fx-background-color: #323d43;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #808080;
    -fx-table-cell-border-color:transparent;
}

.table-row-cell:hover {
    -fx-background-color: #3282b8;
}

.table-row-cell:selected {
    -fx-background-color: #3282b8;
}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT
}

/* End of TableView Default Styling */

#backgroundPane {
    -fx-background-color: #141313;
}

