.label {
    -fx-text-fill: white;
}

#customTextField {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

#customTextField:focused {
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: black;
}

#customTextField:disabled {
    -fx-background-insets: 0;
    -fx-background-color: grey;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

#customTextFieldNonEditable {
    -fx-background-insets: 0;
    -fx-background-color: grey;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}


#customComboBox {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

#customComboBox:focused {
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: black;
}

#customComboBox .arrow-button {
    -fx-background-color: white;

}

#customComboBox .list-view {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}



#customButton {
    -fx-background-color: blue;
    -fx-text-fill: white
}


