@import url(../../common.css);

#customAddButton {
    -fx-pref-width: 175;
    -fx-pref-height: 35;
}

#customModifyButton {
    -fx-pref-width: 100;
    -fx-pref-height: 35;
}

#errorText {
    -fx-font-size: 12px;
    -fx-text-fill: #e5e4e2;
}

/* Hidden Until File is Dragged & Dropped */
#errorTextStackPane {
    -fx-text-fill: BLACK;
    -fx-border-radius: 55;
    -fx-border-color: #e5e4e2;
    -fx-border-width: .25;
    -fx-background-radius: 55;
}

#fiberColorBox, #tubeColorBox {
    -fx-arc-height: 5;
    -fx-arc-width: 5;
}

#orText {
    -fx-fill: #e5e4e2;
    -fx-font-size: 18px;

}

